.checkbtn {
    display: none;
    font-size: 2rem;
    color: #fff;
    float: right;
    line-height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
}

#check {
    display: none;
}

#title {
    animation: show 3s ease infinite;
}

@keyframes show {
    0% {
        letter-spacing: 2px;
        border: 1px solid #121211;
    }

    25% {
        letter-spacing: 3px;
        border: 1px solid #fff;
    }

    50% {
        letter-spacing: 3px;
        border: 1px solid #fff;
    }

    75% {
        letter-spacing: 3px;
        border: 1px solid #fff;
    }

    100% {
        letter-spacing: 2px;
        border: 1px solid #121211;
    }
}

/* Custom card */

.card-container {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fff;
    max-width: 20em;
    height: auto;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;

}

.card-image {
    max-height: 16em;
}

.card-image img {
    max-width: 100%;
    height: 16em;
    object-fit: cover;
}

.card-desc .left {
    width: 55%;
}

.card-desc .left h6:first-child {
    width: 90%;
}

.card-desc .left h6:last-child {
    width: 10%;
}

.card-desc .right {
    width: 40%;
}

/* End custom card */

/* Custom pagination */
.pagination path {
    color: #134C9D;
}

.current-page a {
    background: none;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    max-width: 40px;
    height: 40px;
}

.current-page a:hover {
    background-color: #134C9D;
    color: white;
}

.pagination li a {
    margin: 0 .5rem;
    font-size: 16px;
}

.pagination .previous-page a {
    border: none;
    border-color: lightgray;
}

.pagination .previous-page a:focus {
    box-shadow: none;
}

.pagination .next-page a:focus {
    box-shadow: none;
}

.pagination .active a {
    background-color: #134C9D;
    color: white;
    text-align: center;
    border-radius: 50%;
    border: none;
    width: 40px;
    max-width: 40px;
    height: 40px;
}

/* End custom pagination


/* ============= Detail Produk ============= */
.detail__produk img {
    max-width: 600px;
}

#description__product p {
    font-size: 18px;
}